#layout{
    display: inline;
    align-items: center;
    justify-content: center;
}
#div1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
    gap: 5px;
}
#div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#img2:hover{
    transform: scale(1.05);
    transition: transform 0.1s;
}
#div3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
#div3 p{
    color: #ffffff;
    font-size: 25px;
}
#div4{
    border: 2px solid #ffffff;
    width: 200px;
    height: 50px;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(75, 75, 75);
}
#div6{
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: 1s;    
}
    html *,
    html *::before,
    html *::after{
    box-sizing: inherit;
}
body{
    background: linear-gradient(180deg, rgba(0,0,0,5) 5%, rgb(100, 0, 0) 65%);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100vh;
}
.menu{
    display: flex;
    width: 100vh;
    height: 50px;
    padding: 5px;
    position: relative;
    top: 262px;
    background-color: rgb(30, 30, 30);
    background-size: 100vh;
}
.menu__item{
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));
}
.menu__item::before{
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
}
.menu__item.active{
    transform: translate3d(0, -.8em , 0);
}
.menu__item.active::before{
    transform: scale(1);
    background-color: var(--bgColorItem);
}
.icon{
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}
.menu__item.active .icon{
    animation: strok 2s reverse;
}
@keyframes strok{
    100%{
    stroke-dashoffset: 400;
    }
}
.menu__border{
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
}
.svg-container{
    width: 0;
    height: 0;
}
@media screen and (max-width: 50em){
    .menu{
    font-size: .8em;
    }
}
